.section {
    min-height: 850px;
}

.pad {
    padding: 5em;
}

.hero-back-left,
.hero-back-right {
    min-height: 850px;
    background-image: url("../img/cam.jpg");
    background-size: cover;
}

.hero-back-left {
    background-position: center;
}

.hero-back-right {
    background-position: right center;
}

.about {
    min-height: 700px;
    background-color: rgb(232, 111, 99);
}

.video {
    background: #4985BB;
    max-height: 500px;
    margin: 0px 100px 0px 100px;
}

.video iframe {
    border-radius: 5%;
    max-height: 400px;

}

.fade-in,
.fade-out {
    width: 31.5em;
    height: 31.5em;
}

.fade-out {
    background-color: #000;
}

.fade-in {
    background-color: rgba(255, 255, 255, 0);
    transition: 5s;
}

.img-h {
    padding-top: 5%;
    width: 33.5em;
    height: 33.5em;
    border: 1em solid #fff;
    background-size: contain;
    background-image: url('../img/hannah.png');
}

.about h1 {
    font-family: 'Shadows Into Light', cursive;
    color: #364D5E;
}

.about-items {
    width: 33.5em;
    background-color: #fff;
    height: 6em;
}

.about-items h2 {
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
}

.about-text p {
    color: #364D5E;
    font-size: 1.2em;
    margin-top: 2em;
}

.sm-icons {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}

.sm-icons a {
    color: #000;
    transition: .5s;
}

.sm-icons a:hover {
    color: #4985BB;
    transition: .5s;
}

/* !MAIN! */

.tabs li {
    width: 25%;
    background-color: #364D5E;
}

.tabs li a {
    color: rgb(232, 111, 99);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: rgb(232, 111, 99);
    color: #364D5E;
}

.tabs li a:hover,
tabs li:hover {
    color: #364D5E;
    background-color: rgb(232, 111, 99);
}

/*!MAIN!/MEDAI TAB*/
.vimeo-embed {
    width: "640";
    height: "360";
}

@media only screen and (max-width: 600px) {

    .hero-back-left,
    .hero-back-right {
        display: none;
    }

    .fade-in,
    .fade-out {
        width: 18.5em;
        height: 18.5em;
    }

    .img-h {
        width: 20.5em;
        height: 20.5em;
    }

    .about-items {
        width: 20.5em;
    }

    .about-text p {
        margin-top: 3em;
    }


}
