.section {
  min-height: 850px;
}

.hero-back-left, .hero-back-right {
  min-height: 850px;
  background-image: url("../img/cam.jpg");
  background-size: cover;
}

.hero-back-left {
  background-position: center;
}

.hero-back-right {
  background-position: right center;
}

.about {
  min-height: 850px;
  background-color: rgb(232,111,99);
}

.fade

.fade-out {
  background-color: #000;
  width: 31.5em;
  height: 31.5em;
  transition: 5s;
}

.fade-in {
  background-color: rgba(255,255,255,0);
  width: 31.5em;
  height: 31.5em;
  transition: 5s;
}
.img-h {
  width: 33.5em;
  height: 33.5em;
  border: 1em solid #fff;
  background-size: contain;
  background-image: url('../img/hannah.png');
}

.about h1 {
  font-family: 'Shadows Into Light', cursive;
  color: #364D5E;
}

.about-items {
  width: 33.5em;
  background-color: #fff;
  height: 6em;
}

.about-items h2 {
  margin: 0 auto;
  font-family: 'Shadows Into Light', cursive;
}

.about-text p {
  color: #364D5E;
  font-size: 1.2em;
  margin-top: 2em;
}

.sm-icons {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

.sm-icons a {
  color: #000;
  transition: .5s;
}

.sm-icons a:hover {
  color: #4985BB;
  transition: .5s;
}
/* !MAIN! */
.ivid {
  padding:56.25% 0 0 0;
  position:relative;
}

.ivid iframe {
  width: 100%;
  height: 500px; 
}

@media only screen and (max-width: 600px) {
  .hero-back-left,
  .hero-back-right {
    display: none;
  }

  .img-h {
    width: 20.5em;
    height: 20.5em;
  }

  .about-items {
    width: 20.5em;
  }

  .about-text p {
    margin-top: 3em;
  }
}
